@font-face {
  font-family: "iconfont"; /* Project id 3279712 */
  src: url('iconfont.woff2?t=1655192278243') format('woff2'),
       url('iconfont.woff?t=1655192278243') format('woff'),
       url('iconfont.ttf?t=1655192278243') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouji:before {
  content: "\e600";
}

.icon-u:before {
  content: "\e61f";
}

.icon-dingdan:before {
  content: "\e63b";
}

.icon-gouwuchefill:before {
  content: "\e73c";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-tuijiansel:before {
  content: "\e63c";
}

.icon-guanbi:before {
  content: "\e614";
}

.icon-remove:before {
  content: "\e676";
}

.icon-geren:before {
  content: "\e652";
}

.icon-fanhuijiantou:before {
  content: "\e8b5";
}

.icon-duigouxiao:before {
  content: "\e8bd";
}

.icon-fenxiang:before {
  content: "\e624";
}

.icon-zuojiantou:before {
  content: "\e60e";
}

.icon-youjiantou:before {
  content: "\e60f";
}

.icon-aixin_shixin:before {
  content: "\eca1";
}

.icon-xuanxiang:before {
  content: "\e6a9";
}

.icon-sousuo:before {
  content: "\e608";
}

.icon-dingdan1:before {
  content: "\e603";
}

.icon-geren1:before {
  content: "\e6a7";
}

.icon-zengjia:before {
  content: "\e8c8";
}

.icon-icon-thumb_down:before {
  content: "\e606";
}

.icon-building_2_fill:before {
  content: "\e636";
}

.icon-sousuo1:before {
  content: "\e601";
}

.icon-icon_jifenhuodong:before {
  content: "\e620";
}

.icon-jifenduihuan:before {
  content: "\ff08";
}

.icon-shop-cart-:before {
  content: "\e639";
}

